% my $role = $context->{client}->send_receive_command_msg('get_role')->{PARAMS};
% my $user = $context->{client}->send_receive_command_msg('get_user')->{PARAMS};

% if ($role eq 'User') {
<h1><% i18nGettext ('I18N_OPENXPKI_CLIENT_HTML_MASON_INTRO_TITLE') %></h1>
<p>
  <% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_INTRO_DESCRIPTION') %>
</p>
  <& /service/workflow/search_instances.html,
   'notitle'          => 1,
   'certificate_link' => 1,
   'limit'            => 5,
   'context_key'      => [ 'creator' ],
   'context_value'    => [ $user ],
  &>
% }
% elsif ($role eq 'RA Operator') {
<h1><% i18nGettext ('I18N_OPENXPKI_CLIENT_HTML_MASON_INTRO_RAOP_TITLE') %></h1>
<p>
  <& /service/workflow/show_pending_requests.html,
    'heading' => 2,
  &>
</p>
<hr/>
<p>
  <& /service/workflow/show_pending_crrs.html,
    'heading' => 2,
  &>
</p>
% }
% elsif ($role eq 'CA Operator') {
<h1><% i18nGettext ('I18N_OPENXPKI_CLIENT_HTML_MASON_INTRO_CAOP_TITLE') %></h1>
  <& /service/api/key_list.html,
    'heading' => 2,
  &>
% }
% else {
<h1><% i18nGettext ('I18N_OPENXPKI_CLIENT_HTML_MASON_INTRO_TITLE') %></h1>
<p>
  <% i18nGettext('I18N_OPENXPKI_CLIENT_HTML_MASON_INTRO_DESCRIPTION') %>
</p>
% }
</p>
