<%attr>
  title => 'WWW Mirrors'
</%attr>

<h2>WWW Mirrors</h2>
<p>
  This website is maintained via the
  Sourceforge.net svn repository and hosted on several independant 
  www servers to increase availability.<br/> 	  
  If you wish to mirror these pages you will need to set up an
  script on your webserver that pulls a copy from the
  repository.<br/>
  You can get the script from the svn archives to, see 
  <a href="<& /lib/url.mas, 
	   path => '/resources/index.html' &>">
    Resources</a> section for details.<br/>
  If you have established a mirror please send a mail to
  <tt>openxpki-users@lists.sf.net</tt> so we can add your server to this 
  list and assign a DNS entry.
</p>

<ul><!--1-->
  <li>Europe
    <ul><!--2-->
      <li>Germany
        <ul><!--3-->
          <li>
            <a href="http://www1.openxpki.org/">www1.openxpki.org</a>
            [ <a href="http://www.hu-berlin.de">Humboldt-University of Berlin</a> ]
          </li>
          <li>
            <a href="http://www4.openxpki.org/">www4.openxpki.org</a>
            [ <a href="http://www.cynops.de">Cynops GmbH network security engineering</a> ]
          </li>
          <li>
            <a href="http://www5.openxpki.org/">www5.openxpki.org</a>
            [ <a href="http://www.okg-computer.de">OKG Computer</a> ]
          </li>         </ul><!--3-->
      </li><!--Germany-->
      <li>Russia
        <ul><!--3-->
          <li>
            <a href="http://www7.openxpki.org/">www7.openxpki.org</a>
            [ <a href="http://www.sinp.msu.ru">Moscow State University</a> ]
          </li>
        </ul><!--3-->
     </li><!--Russia-->
    </ul><!--2-->
  </li><!--Europe-->
</ul><!--1-->


